@import "../../../../assets/styles/mixins";

// .statuses{
//     margin: 0 auto;
//     /*max-width: 1000px;
//     width: 80%;*/
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
//     height: 100%;
//     padding: 0 16px;
//     .heading{
//         display: flex;flex-direction: column;flex-shrink: 0;padding: 20px 0;
//         a{
//             max-width: 46px;
//             cursor: pointer;
//             color: rgba(23, 43, 77, 0.6);
//             @include semiBoldFont();
//             &:hover{
//                 color: rgba(23, 43, 77, 0.8);    
//             }
//         }
//         .secondary{
//             display: flex;justify-content: space-between;align-items: center;padding: 4px 0 0;
//             h4{margin: 0;font-size: 18px; @include semiBoldFont();}
//             .action{
//                 display: flex;
//                 button{margin-right: 10px;}
//             }
//         }
//     }
//     @media screen and (min-width: 960px){
//         padding: 0 12%;
//     }
//     @media screen and (min-width: 1281px){
//         max-width: 1000px;
//         padding: 0;
//     }
// }



::ng-deep ag-grid-angular.ag-theme-balham{
    // flex: 1;
    // width: 100%;
    // height: 100%;
    // @include regularFont;
    // font-size: 13px;
    // .ag-side-buttons, .ag-group-expanded, .ag-group-contracted, 
    // .ag-group-child-count{
    //     display: none;
    // }
    // .ag-ltr .ag-row-group-leaf-indent{margin-left: 0;}
    // .ag-root{border: none;}
    // .ag-cell{line-height: 38px;color: rgba(23, 43, 77, 0.8);}
    // .ag-cell-focus{border-color: transparent !important;}
    // .ag-row{border-bottom-color: #e5e5eb;}
    // .ag-header, .ag-row-odd {background-color: transparent;}
    // .ag-row-hover, .ag-row-selected {background-color: #eceef7;}
    // .ag-header-cell-text{font-weight: 500;font-size: 12px;}
    // .ag-tool-panel{border-color: transparent;}
    // .ag-ltr .ag-cell-last-left-pinned, .ag-pinned-left-header{border-right: 1px solid transparent;}
    // .ag-ltr .ag-cell-first-right-pinned, .ag-pinned-right-header{border-left: 1px solid transparent;}
    // .ag-side-bar{border-right: 1px solid transparent;}
    // .ag-status-bar{border-bottom: 1px solid transparent;}
    // ::ng-deep .edit-opts{
    //     color: rgba(23, 43, 77, 0.6);
    //     i{
    //         font-size: 14px;
    //         width: 14px;
    //         height: 14px;
    //         &:hover{
    //             color: rgba(23, 43, 77, 0.8);
    //         }
    //     }
    // }

    ::ng-deep .mat-slider{
        .mat-slider-wrapper, .mat-slider-track-wrapper, 
        .mat-slider-track-background, .mat-slider-track-fill,
        .mat-slider-ticks-container, .mat-slider-ticks{
            height: 4px;
        }
        .mat-slider-track-background{background-color: #dee3e7; }
        &.mat-primary .mat-slider-track-fill{background-color: #6a9bf6;}
        &.mat-primary .mat-slider-thumb{background-color: #4573ca;}
        .mat-slider-thumb{
            border-radius: 4px;
            width: 8px;
            right: -4px;
            transform: scale(.5);
        }
        &.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb, 
        &.mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb, 
        &.mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb {
            transform: scale(.6);
            border-width: 2px;
        }
        &.full-width{
            &.mat-primary .mat-slider-track-fill{background-color: #5ad1aa;}
            &.mat-primary .mat-slider-thumb{display: none;}
        }
    }

    ::ng-deep .col-field-multiple{
        display: flex;align-items: center;margin: 7px 0;
        .pi-form-field{
            flex: 1 0 50%;max-width: 62px;margin-top: 0;background: #eef0f2;padding: 2px 0;
            text-align: center;border-radius: 2px 0 0 2px;line-height: initial;height: 24px;
            &:last-child{border-radius: 0 2px 2px 0;}
            ::ng-deep .pi-field{
                .ak-field-radio+label{line-height: inherit;padding: 2px 4px;font-size: 13px;}
                .ak-field-radio+label::after{display: none;}
            }
            &.active{background: #44536e;
                label{color: #fff;}
            }
        }
    }

}