.empty-custom-screen{
    font-size: 16px;
    font-family: "SFProText-Medium", Sans-Serif;
    font-weight: normal;
    color: #939394;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}