<div class="mat-dialog-heading">
	<h2 mat-dialog-title [innerHtml]="data.title"></h2>
	<button mat-icon-button mat-dialog-close tabindex="-1">
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-dialog-content>
	<pi-select label="Option" [options]="data.options" [multi]="false" [(ngModel)]="state.selectedOption"></pi-select>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button pi-button color="subtle" matDialogClose>Cancel</button>
	<button pi-button color="primary" [matDialogClose]="state.selectedOption" [disabled]="state.selectedOption == null">Add</button>
</mat-dialog-actions>