<pi-master-detail-view class="recon-admin-layout" [showDetail]="showView">

	<pi-master-view class="admin-sidebar">


		<div class="sidebar-header">
			<!-- <span class="my-pixel-icon violet">
				<i class="pixel-icons icon-distribution-types"></i>
			</span> -->
			<div class="page-breadcrumb">
				<app-admin-popover class="left-hdr-comp" class="align-items" [bgColor]="'light-violet'" [icon]="'icon-distribution-types'"
				 [primary]="'Admin'" [secondary]="'Distribution Types'" [data]="adminDashboard"></app-admin-popover>
			</div>
			<!-- <div class="actions" *ngIf="APP.permissions.system_access.distribution_types=='edit'">
				<button pi-icon-button color="subtle" (click)="openAddDialog()">
					<i class="pixel-icons icon-plus"></i>
				</button>

				<button pi-icon-button color="subtle" [matMenuTriggerFor]="menu">
					<i class="pixel-icons icon-more-horizontal"></i>
				</button>
				<mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before" class="more-actions">
					<button mat-menu-item (click)="export()">Export</button>
				</mat-menu>
			</div> -->
			<div class="icon-button-actions" *ngIf="APP.permissions.system_access.distribution_types=='edit'">

				<button pi-icon-button class="icon-button-wrapper" (click)="openAddDialog()">
					<i class="pixel-icons icon-plus"></i>
				</button>

				<button pi-icon-button class="icon-button-wrapper m-l-6" [matMenuTriggerFor]="menu">
					<i class="pixel-icons icon-more-horizontal"></i>
				</button>
				<mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before" class="more-actions">
					<button mat-menu-item (click)="export()">Export</button>
				</mat-menu>

			</div>

			<app-search (onSearch)="onSearch($event)"></app-search>
		</div>

		<div class="head">
			<div matBadgeOverlap="false" matBadgePosition="before" class="mat-badge-center">
				<span [matMenuTriggerFor]="statusFilter">
					<span>{{totalCount}}</span>
					<span>{{statusBy}} {{totalCount == 1 ? 'Distribution Type' : 'Distribution Types'}}</span>
					<mat-icon>expand_more</mat-icon>
				</span>
				<mat-menu #statusFilter="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
					<button mat-menu-item *ngFor="let status of dropdowns.statusFilter" (click)="onApplyFilter('status', status)">{{status.label}}</button>
				</mat-menu>
			</div>
			<div class="sorting">
				<span class="sort-action {{sortBy | lowercase}}" (click)="onApplyFilter('sort')">{{sortBy}}</span>
			</div>
		</div>
		<div class="d-flex align-center justify-content-center w-100" *ngIf="isLoading" style="height: 80%;flex: 1;justify-content: center;align-items: center;">
			<mat-spinner diameter="24" class="md"></mat-spinner>

		</div>
		<div class="sidebar-body">
			<div class="sidebar-content" [class.spinner]="isLoading || !adminList?.length" infiniteScroll
			 [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
				<div class="body">
					<!-- <mat-spinner diameter="45" class="md" *ngIf="isLoading"></mat-spinner> -->

					<div class="no-data" [hidden]="isLoading || adminList?.length">
						<div class="d-flex align-center justify-content-center w-100" style="min-height: 300px;flex: 1;
						justify-content: center;align-items: center;">No
							Distribution Type Found</div>
					</div>
					<div class="menu-container" *ngIf="!isLoading">
						<ul class="single-list">
							<li *ngFor="let type of adminList" [class.active]="selectedDetails?.id === type.id" [class.disable]="!type.status"
							 (click)="onSelectItem(type);changeMasterView()">
								<span>{{type.name}}</span>
							</li>
						</ul>
					</div>
					<!-- <mat-list *ngIf="!isLoading">
					<mat-list-item *ngFor="let type of adminList" [class.active]="selectedDetails?.id === type.id" [class.disable]="!type.status"
					 (click)="onSelectItem(type);changeMasterView()">
						<span>{{type.name}}</span>
					</mat-list-item>
				</mat-list> -->

				</div>
			</div>
		</div>


	</pi-master-view>

	<pi-detail-view class="admin-content">
		<section class="admin-fixed-layout">
			<div class="no-data-screen spinner-view" *ngIf="!adminList?.length && !isLoading">
				<div class="empty-screen">
					<div class="icon-info-holder" *ngIf="param.search?.length">
						<div class="icon">
							<i class="pixel-icons icon-search"></i>
						</div>
						<p class="alert-message text-center" style="text-align: center;">No Distribution found for your search string <br />
							<b style="color: #172b4d;">'{{param.search}}'</b>
						</p>
					</div>
					<div class="icon-info-holder">
						<ng-container *ngIf="!param.search?.length">
							<div class="icon">
								<i class="pixel-icons icon-cost-codes"></i>
							</div>
							<p class="alert-message text-center" style="text-align: center;">No Distribution found</p>
						</ng-container>
						<button pi-button color="primary" (click)="openAddDialog(param.search)" *ngIf="APP.permissions.system_access.distribution_types=='edit'">+
							Add New Distribution</button>
					</div>

				</div>
			</div>
			<ng-container *ngIf="adminList?.length">
				<header class="header tab-header" *ngIf="selectedDetails">
					<div class="w-100 d-flex flex-column justify-content-between">
						<app-breadcrumb [list]="breadcrumbs"></app-breadcrumb>
						<div class="d-flex align-items-center">
							<h1 [innerHtml]="selectedDetails.name"></h1>
						</div>
						<div class="w-100 d-flex align-items-center justify-content-between">
							<aside class="left-header flex-column d-flex flex-width">
								<nav *ngIf="selectedDetails" mat-tab-nav-bar class="nav-bar" [disableRipple]="true">
									<div class="tab-group">
										<a mat-tab-link (click)="onTabChange(index)" *ngFor="let link of state.tabs;let index = index" [active]="activeTab == index">
											{{link.label}} </a>
									</div>
								</nav>
							</aside>
							<aside class="d-flex right-header justify-content-end flex-width">
								<app-search (onSearch)="gridSearch($event)" *ngIf="activeTab == 1"></app-search>

							</aside>
						</div>
					</div>
				</header>
				<div class="scroll-body" *ngIf="selectedDetails">
					<div class="no-result-flex" *ngIf="!adminList?.length && !isLoading">
						<p *ngIf="param.search?.length">No Distribution Type found for your search string
							<b>'{{param.search}}'</b>
						</p>
						<p *ngIf="!param.search?.length">No Distribution Type found</p>
						<button pi-button color="primary" (click)="openAddDialog(param.search)" *ngIf="APP.permissions.system_access.distribution_types=='edit'">+
							Add New Distribution Type</button>
					</div>

					<!-- Details Tab Content -->
					<div class="tab-wrapper w-100" [class.has-spinner]="fetchingDetails" *ngIf="activeTab == 0">
						<div class="spinner-view" *ngIf="fetchingDetails">
							<div class="empty-screen">
								<mat-spinner diameter="34" class="md parent-spinner"></mat-spinner>
							</div>
						</div>
						<form *ngIf="!fetchingDetails" [formGroup]="adminForm" class="form-flex" autocomplete="off">

							<pi-form-field [label]="'Distribution Type Name'">
								<input type="text" pi-input name="name" formControlName="name" [disabled]="APP.permissions.system_access.distribution_types!='edit'"
								 maxlength="64" />
								<div class="msgs">
									<div class="pi-error" *ngIf="f.name.hasError('required') && submitted">Please Enter Distribution Type Name</div>
									<div class="pi-error" *ngIf="!f.name.hasError('required') && duplicateError">Distribution Type
										{{duplicateError}}</div>
								</div>
							</pi-form-field>
							<pi-select label="Status" [options]="dropdowns.statusList" [multi]="false" formControlName="status" [disabled]="APP.permissions.system_access.distribution_types!='edit'"></pi-select>
							<pi-form-field label="Description">
								<textarea pi-input name="description" formControlName="description" [disabled]="APP.permissions.system_access.distribution_types!='edit'"
								 maxlength="1024"></textarea>
								<span class="field-note">Enter text of 1024 characters or less.</span>
							</pi-form-field>

							<div class="departments">
								<label for="">Department users that can
									<b>Access</b> this Distribution Type</label>
								<app-check-departments [readonly]="APP.permissions.system_access.distribution_types!='edit'" *ngIf="dropdowns.departments"
								 prop="id" [group]="adminForm.controls.departments" [data]="dropdowns.departments"></app-check-departments>
							</div>
							<app-modified-user-info [modifiedInfo]="selectedDetails"></app-modified-user-info>

						</form>
					</div>

					<!-- Forms Tab Content -->

					<div class="tab-wrapper w-100" [class.has-spinner]="fetchingDetails" *ngIf="activeTab == 1">
						<div class="spinner-view" *ngIf="fetchingDetails">
							<div class="empty-screen">
								<mat-spinner diameter="34" class="md parent-spinner"></mat-spinner>
							</div>
						</div>
						<div class="global-grid distribution-type-grid with-out-margin actions-grid with-check-boxs ag-no-striped ag-full-width-grid">
							<!-- <mat-spinner diameter="45" class="md" *ngIf="fetchingDetails"></mat-spinner> -->
							<ag-grid-angular *ngIf="!fetchingDetails" class="ag-theme-balham" [gridOptions]="gridOptions">
							</ag-grid-angular>
						</div>
					</div>


				</div>
				<div class="footer" *ngIf="activeTab == 0 && selectedDetails && APP.permissions.system_access.distribution_types=='edit'">
					<div class="admin-max-footer" style="max-width: 1100px;">
						<button pi-button (click)="resetForm(selectedDetails)">Cancel</button>
						<button class="m-l-15" pi-button color="primary" (click)="saveDetails(adminForm)" [disabled]="adminForm.pristine">Save</button>

					</div>
				</div>
			</ng-container>


		</section>
	</pi-detail-view>
</pi-master-detail-view>