<div class="mat-dialog-heading">
	<h2 mat-dialog-title [innerHtml]="data.title"></h2>
	<button mat-icon-button mat-dialog-close tabindex="-1">
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-dialog-content>
	<form [formGroup]="createFormGroup" class="form-flex" autocomplete="off">
		<pi-form-field label="{{scheduleName}} Name">
			<input autocomplete="" type="text" pi-input id="name" name="name" formControlName="name" maxlength="64">
			<div class="pi-error" *ngIf="f.name.hasError('required') && submitted">Please Enter {{scheduleName}} Name</div>
			<div class="pi-error" *ngIf="!f.name.hasError('required') && duplicateError">{{scheduleName}} {{duplicateError}}</div>
		</pi-form-field>
		<pi-form-field label="Description">
			<textarea pi-input rows="3" id="description" name="description" formControlName="description" maxlength="1024"></textarea>
			<span class="field-note">Enter text of 1024 characters or less.</span>
		</pi-form-field>
		<pi-select label="Status" [options]="data.dropdowns.statusList" id="status" name="status" formControlName="status"></pi-select>

		<div class="p-t user-type">
			<label for="">User types that can
				<b>Access</b> this milestone</label>
			<app-permission *ngIf="data.dropdowns.organizations" [group]="createFormGroup.controls.org_type_id" [headers]="data.dropdowns.headers"
			 [data]="data.dropdowns.organizations"></app-permission>
		</div>

		<div class="p-t departments">
			<label for="">Department users that can
				<b>Assign</b> this Milestone</label>
			<app-check-departments *ngIf="data.dropdowns.departments.length" [group]="createFormGroup.controls.department_ids"
			 [data]="data.dropdowns?.departments"></app-check-departments>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions class="p-t-25">
	<button pi-button (click)="closeDialog()">Cancel</button>
	<button pi-button color="primary" (click)="saveDetails(createFormGroup)" [disabled]="createFormGroup.pristine">Save</button>
</mat-dialog-actions>