
@import "../../../assets/styles/mixins";
.left-section {
    display: flex;
    flex-direction: column;
    .left-header {
        h3 {
            color: rgba(23, 43, 77, 0.8);
            padding: 0;
            font-weight: 600;
            display: flex;
            flex-grow: 2;
            margin-left: 8px;
        }
        .actions {
            display: flex;
            align-items: center;
            i {
                width: 14px;
                height: 14px;
                font-size: 14px;
                cursor: pointer;
                color: rgba(23, 43, 77, 0.7);
                &:hover {
                    color: rgba(23, 43, 77, 1);
                }
            }
        }
    }
    ::ng-deep app-search {
        border-bottom: 1px solid #e8e9ef;
        padding: 10px 20px;
        /*0 20px 10px;*/
        width: 100%;
        flex-shrink: 0;
        .pi-form-field {
            /* dont remove */
            input {
                background-color: #eceef7;
                &:focus {
                    background: #fff;
                }
            }
        }
        .pi-form-field.left-icon:hover input,
        .pi-form-field.right-icon:hover input {
            background-color: #e7eaf5;
        }
        .pi-form-field.left-icon:hover input:focus,
        .pi-form-field.right-icon:hover input:focus {
            background-color: #fff;
        }
    }
    .left-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        /*position: relative;*/
        mat-spinner {
            /*position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -22.5px;
            margin-top: -22.5px;*/
            margin: auto;
        }
        mat-list-item {
            height: auto;
            /*80px;*/
            display: flex;
            padding: 8px 0;
            ::ng-deep .mat-list-item-content {
                width: 100%;
                .icon {
                    height: 48px;
                    /*60px;*/
                    width: 48px;
                    /*60px;*/
                    border-radius: 9999px;
                    /* 4px;*/
                    flex-shrink: 0;
                    border: 1px solid #cbcdd5;
                    color: #cbcdd5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }
                .info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    div {
                        overflow: hidden;
                        white-space: nowrap;
                        /*word-wrap: break-word;*/
                        text-overflow: ellipsis;
                        color: rgba(23, 43, 77, 0.5);
                    }
                    /*.designation, .departments, .user_role, .email{
                        color: #8c8d90;
                    }*/
                    .label {
                        color: rgba(23, 43, 77, 1);
                        margin-right: 8px;
                    }
                    .designation {
                        max-width: 80px;
                        font-size: 13px;
                    }
                    .email {
                        font-size: 13px;
                    }
                    .user-info {
                        display: flex;
                    }
                }
            }
            &.active {
                background: #eceef7;
            }
        }
    }
}

.right-section {
    display: flex;
    flex-direction: column;
    position: relative;
    .right-header {
        padding: 20px 24px;
        display: flex;
        min-height: 86px;
        flex-shrink: 0;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        min-height: 136px;
        padding-bottom: 0;
        // margin-bottom: 20px;
        .info {
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .info-left {
                display: flex;
                align-items: center;
            }
            .image-upload {
                height: 62px;
                width: 62px;
                display: flex;
                align-items: center;
                border: 1px solid #dedede;
                justify-content: center;
                position: relative;
                border-radius: 50%;
                .images,
                img {
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    border: 0;
                    border-radius: 50%;
                    text-align: center;
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 60px;
                }
                .file-drop-zone {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    justify-content: center;
                    display: flex;
                    background-color: #f6f7fe;
                }
                .browse-file{
                    .icon-camera{
                        font-size: 20px;
                        width: 20px;
                        line-height: 20px;
                        height: 20px;
                        position: relative;
                        top: 5px;
                        transition: .3s;
                    }
                }
                .browse-file,
                .image-edit {
                    display: none;
                    cursor: pointer;
                    z-index: 1;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    background-color: #4d5c82;
                    opacity: 0.5;
                    color: #fff;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    line-height: 60px;
                    transition: .3s;
                }
                &:hover {
                    .browse-file,
                    .image-edit {
                        display: block;
                        transition: .3s;
                    }
                }
            }
            .user-left-info {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
            h4 {
                display: flex;
                .slash-char {
                    padding: 0 8px;
                    font-size: 20px;
                    color: #aaa;
                }
                .org-name-edit {
                    &:focus {
                        outline: none;
                    }
                }
            }
            h3 {
                padding: 0;
                font-size: 18px;
                color: #56647d;
                @include mediumFont;
                font-weight: normal;
                margin-bottom: 0;
                line-height: 1.3;
                letter-spacing: -0.22px;
                margin-top: 0px;
                display: flex;
                align-items: center;
            }
        }
        .nav-bar {
            width: 100%;
            margin-top: 10px;
            .mat-tab-nav-bar {
                white-space: nowrap;
                overflow: auto;
            }
            .mat-tab-link {
                min-width: 40px;
                padding: 20px 0;
                height: 30px;
                margin: 0 20px; /*margin-right: 24px;*/
                color: rgba(23, 43, 77, 0.8);
                &:first-child{
                    margin-left: 0;
                }
                &:focus:not(.mat-tab-disabled) {
                    opacity: 0.6;
                }
                &.mat-tab-label-active{
                    color: #3f51b5;
                    opacity: 1 !important;
                }
            }

        }
    }
    .right-content {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: auto;
        overflow-x: hidden;
        .no-data {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .no-data {
            text-align: center;
            color: rgba(23, 43, 77, 0.5);
            /*#777;*/
            font-size: 16px;
        }
        mat-spinner {
            /*position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -22.5px;
            margin-top: -22.5px;*/
            margin: auto;
        }
        .content-wrapper {
            max-width: 640px;
            margin: 0;
            /*0 16px;*/
            ::ng-deep .child {
                /*border-bottom:1px solid #DFE1E6;*/
                padding: 0 10px 10px;
                display: flex;
                .body {
                    width: 100%;
                }
            }
        }
        section {
            padding: 0 24px;
            /*padding: 0 16px;
            @media screen and (min-width: 600px){
                padding: 20px 24px; /*0 24px;/
            }*/
            mat-spinner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .general-details {
                /*max-width: 640px;*/
                /*@media screen and (min-width: 960px){
                    max-width: 80%;
                }*/
                /*max-width: 640px;*/
                color: rgba(23, 43, 77, 0.8);
                .detail-section {
                    padding: 12px 8px;
                    margin-bottom: 16px;
                    line-height: 24px;
                    border: 1px solid #e4e6ed;
                    background-color: #fcfdff;
                    position: relative;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    max-width: 640px;
                    header {
                        font-weight: 600;
                        color: rgba(23, 43, 77, 0.6);
                        margin-bottom: 10px;
                    }
                    .view-mode {
                        .view-section {
                            margin-bottom: 8px;
                        }
                        .view-section-multi{
                            display: flex;
                            justify-content: space-between;
                            .view-section-left,.view-section-right{
                                width: 50%;
                            }
                        }
                        .box {
                            .parent,
                            .child {
                                i {
                                    width: 14px;
                                    height: 14px;
                                    font-size: 14px;
                                    margin-right: 3px;
                                    position: relative;
                                    top: 2px;
                                }
                            }
                            .child {
                                padding-left: 36px;
                            }
                        }
                    }
                    .edit-section {
                        .ak-field-group {
                            &:first-child {
                                padding-top: 8px !important;
                            }
                        }
                        // .pi-form-field {
                        //     margin-top: 0;
                        // }
                        .children {
                            display: flex;
                            flex-direction: column;
                            margin-left: 20px;
                            .pi-form-field {
                                margin-top: 4px;
                            }
                        }
                    }
                    .label {
                        color: rgba(23, 43, 77, 0.4);
                    }
                    .actions {
                        position: absolute;
                        right: 10px;
                        top: 12px;
                        margin: 0;
                        border-radius: 0;
                        box-shadow: none;
                        i {
                            font-size: 14px;
                            width: 14px;
                            height: 14px;
                            cursor: pointer;
                        }
                        &.multiple {
                            position: relative;
                            right: auto;
                            top: auto;
                            justify-content: flex-end;
                            display: flex;
                            padding: 12px 0 0;
                            border-top: 1px dashed #ddd;
                            margin-top: 16px;
                            .ak-button {
                                margin-left: 16px;
                            }
                        }
                    }
                }
                .system-access-container {
                    .ak-field-group {
                        padding-top: 0 !important;
                    }
                }
                .actions.multiple {
                    display: flex;
                    flex-shrink: 0;
                    flex-direction: row;
                    padding: 24px 0;
                    justify-content: flex-end;
                    /*border:1px solid #f00;*/
                    button {
                        &:last-child {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
    .no-result-flex {
        p {
            b {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.profile-form {
    height: auto !important;
}

.custom-select-group {
    &.container-group {
        .inline-space-bw {
            display: flex;
            align-items: flex-end;
            .pi-form-field{
                // margin-top: 16px !important;
            }
            .array-button {
                // color: #3f9737; /*rgba(23, 43, 77, 0.8);  */
                .mat-icon {
                    width: 20px;
                    font-size: 20px;
                    height: 20px;
                    line-height: initial;
                }
                &:nth-child(1) {
                    // color:#cb1a1a;
                }
                &.m-r {
                    margin-right: 6px;
                }
            }
            .email,
            .phone {
                flex: 1;
                &:nth-child(3) {
                    max-width: 30%;
                    margin-right: 16px;
                }
            }
        }
    }
}
::ng-deep .pi-form-field .pi-field .pi-select-input.multi{
    .selected-list{
        .opt{
            > pi-icon{
                .icon-close{
                    height: 10px;width: 10px;cursor: pointer;margin-top: 2px;
                    line-height: 10px !important;font-size: 10px !important;
                }
                &:hover{
                    background-color: transparent !important;
                }
            }
            &:hover{
                background-color: #c7c9cc !important;
            }
        }
    }
}
::ng-deep .pi-form-field .pi-field .pi-select-input{
    pi-icon{
        .icon-arrow-down{
            line-height: 12px !important;
            @include iconSize(12px);
        }
    }
}
.pi-form-field.max-w{
    max-width: 100%;
}
.email{
    &.cust-p{
        position: relative;
        .pi-error{
            position: absolute;
        }
    }
} 

::ng-deep .users-client-grid{
    &.content-wrapper{
        ag-grid-angular{
            height: calc(100vh - 257px) ;
        }
    }
}