<pi-master-detail-view [showDetail]="state.showDetail" class="details-wrapper">
    <pi-master-view class="left-section">
        <div class="left-header">
            <span class="my-pixel-icon blue">
                <i class="pixel-icons icon-pn-user"></i>
            </span>

            <h3 mat-button [matMenuTriggerFor]="menu">
                <span class="detail-orgname text-ellipsis">{{state.selectedTab.label}}</span>
                <i class="pixel-icons icon-arrow-down"></i>
            </h3>

            <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" class="user-type">
                <mat-nav-list>
                    <ng-container *ngFor="let tab of state.tabs">
                        <mat-list-item *ngIf="tab.show">
                            <a matLine href="#{{tab.route}}">
                                <!-- <span matListIcon class="my-pixel-icon">
                                    <i class="pixel-icons"></i>
                                  </span> -->
                                {{ tab.label }}
                            </a>
                        </mat-list-item>
                    </ng-container>
                </mat-nav-list>
            </mat-menu>
            <button class="icon-button-wrapper" pi-button (click)="addUser()">
                <i class="pixel-icons icon-plus"></i>
            </button>
        </div>
        <app-search [search]="state.search" (onSearch)="onSearch($event)"></app-search>

        <div class="total-info">
            <span class="filter" [matMenuTriggerFor]="statusFilter">{{state.leftNavCount+" "+((state.selectedFilter.label!="All")?state.selectedFilter.label:"")+"
                "+state.selectedTab.displayLabel}}
                <i class="pixel-icons icon-arrow-down"></i>
            </span>
            <mat-menu #statusFilter="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before" class="more-actions">
                <button mat-menu-item *ngFor="let status of state.statusFilter" (click)="changeFilter(status)">{{status.label}}</button>
            </mat-menu>
        </div>

        <div class="left-content" [class.spinner]="state.loader || !state.leftNavList?.length" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
            <mat-spinner diameter="45" class="md" *ngIf="state.loader"></mat-spinner>

            <div class="no-data" [hidden]="state.loader || state.leftNavList?.length || state.search.value!=''">No {{state.selectedTab.displayLabel}}
                Found
            </div>

            <div class="no-data" *ngIf="!state.loader && !state.leftNavList?.length && state.search.value!=''">No Ivie User
                Found
            </div>

            <mat-list *ngIf="!state.loader">
                <ng-container *ngFor="let list of state.leftNavList">
                    <mat-list-item *ngIf="!list.search" [class.disable]="!list.status" [class.active]="state.selectedItem?.id === list.id" (click)="getSelectedUser(list); showDetails();">
                        <i class="pixel-icons icon-pn-user icon" *ngIf="list.logo==''"></i>
                        <img class="icon" [src]="list.logo" *ngIf="list.logo!=''" />
                        <div class="info">
                            <div class="user-info">
                                <div class="label">{{list.name}}</div>
                                <div class="designation">{{list.designation}}</div>
                            </div>
                            <div class="departments">{{list.dept}}</div>
                            <!-- <div class="user_role">{{list.user_role}}</div> -->
                            <div class="email">{{list.email}}</div>
                        </div>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </div>

    </pi-master-view>

    <pi-detail-view class="right-section" >
        <div class="right-header" [class.client-tab]="state.activeTab.type==3" *ngIf="state.leftNavList.length">
            <div class="info">
                <div class="info-left">
                    <div fxLayout="column" class="image-upload org-upload">
                        <label (click)="uploadLogo()" class="browse-file">
                            <i class="pixel-icons icon-camera"></i>
                            <a>{{(state.selectedItem?.logo=='')?"Browse":"Change"}}</a>
                        </label>
                        <div class="images" *ngIf="state.selectedItem?.logo!=''">
                            <img [src]="state.selectedItem?.logo" alt="Logo">
                        </div>
                    </div>
                    <div class="user-left-info">
                        <!-- <h4 (click)="hideDetails()">
                            <span (click)="hideDetails()">Users</span>
                            <span class="slash-char">/</span>
                            <div class="user-name-edit">
                                {{state.selectedTab.label}}
                            </div>
                        </h4> -->
                        <pi-breadcrumb>
                            <pi-breadcrumb-item label="Users" (click)="hideDetails()"></pi-breadcrumb-item>
                            <pi-breadcrumb-item>{{ state.selectedTab.label }}</pi-breadcrumb-item>
                        </pi-breadcrumb>
                        <h3>{{state.selectedItem?.name}}</h3>
                    </div>
                </div>
                <mat-slide-toggle color="primary" [checked]="state.selectedItem?.status" (change)="changeOrgStatus()">
                </mat-slide-toggle>
            </div>
            <section class="nav-bar">
                <nav [disableRipple]="true" mat-tab-nav-bar>
                    <div class="tab-group">
                        <a mat-tab-link (click)="setActiveTab(link)" *ngFor="let link of state.detailTabs" [active]="link.type==state.activeTab.type">
                            {{link.label}} </a>
                    </div>
                </nav>
            </section>
        </div>
        <div class="right-content">

            <mat-spinner diameter="45" class="md" *ngIf="state.detailsLoader"></mat-spinner>

            <section *ngIf="!state.detailsLoader" class="ag-grid-wrapper">
                <div class="general-details">
                    <form *ngIf="state.activeTab.type!=0" [formGroup]="ivieForm" class="form-flex" autocomplete="off">
                        <div class="content-wrapper client-access users-client-grid" *ngIf="state.activeTab.type==3">
                            <app-client-access [id]="state.selectedItem['id']" [organizations]="state.clientAccess">
                            </app-client-access>
                        </div>
                        <div class="content-wrapper" *ngIf="state.activeTab.type==4">
                            <app-perferences [id]="state.selectedItem['id']" [preferences]="state.preferences">
                            </app-perferences>
                        </div>
                        <div class="content-wrapper" *ngIf="state.activeTab.type==5">
                            <!-- No External Apps Found. -->
                            <div *ngIf="!state.permissions['external_apps']?.length">No Permissions Found</div>
                            <div class="content-wrapper" *ngIf="state.permissions['external_apps']?.length">
                                <div class="ak-field-group">
                                    <app-permission *ngIf="state.permissions['external_apps']" prop="key" [id]="state.selectedItem['id']" [group]="ivieForm.controls['external_apps']"
                                        [headers]="dropdowns.headers" [data]="state.permissions['external_apps']">
                                    </app-permission>
                                </div>
                            </div>
                            <div class="fixed-footer" *ngIf="state.permissions['external_apps']?.length">
                                <button pi-button color="subtle" class="cancel" (click)="resetForm()">Cancel</button>
                                <button pi-button color="primary" (click)="saveRoleUsers(ivieForm)" [disabled]="ivieForm.pristine">Save</button>
                            </div>
                        </div>
                        <div class="system-access-container" *ngIf="state.activeTab.type==1">
                            <div class="content-wrapper">
                                <div class="ak-field-group">
                                    <app-permission *ngIf="state.permissions['system_access']" prop="key" [group]="ivieForm.controls['system_access']" [headers]="dropdowns.headers"
                                        [data]="state.permissions['system_access'][0].items"></app-permission>
                                </div>
                                <div class="fixed-footer">
                                    <button pi-button class="cancel" (click)="resetForm()">Cancel</button>
                                    <button class="m-l-15" pi-button color="primary" (click)="saveRoleUsers(ivieForm)" [disabled]="ivieForm.pristine">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="job-access-container" *ngIf="state.activeTab.type==2">
                            <div class="content-wrapper">
                                <div class="ak-field-group">
                                    <app-permission *ngIf="state.permissions['job_access']" prop="key" [group]="ivieForm.controls['job_access']" [headers]="dropdowns.jobAccess"
                                        [data]="state.permissions['job_access'][0].items" [checkServices]="true"></app-permission>
                                </div>
                                <div class="ak-field-group">
                                    <app-permission *ngIf="state.permissions['job_access']" prop="key" [group]="ivieForm.controls['job_access']" [headers]="dropdowns.headers"
                                        [data]="state.permissions['job_access'][1].items"></app-permission>
                                </div>
                                <div class="fixed-footer">
                                    <button pi-button color="subtle" class="cancel" (click)="resetForm()">Cancel</button>
                                    <button pi-button class="m-l-15" color="primary" (click)="saveRoleUsers(ivieForm)" [disabled]="ivieForm.pristine">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ng-container *ngIf="state.activeTab.type==0">
                        <form [formGroup]="ivieForm" class="form-flex profile-form" autocomplete="off">
                            <ng-container *ngFor="let groups of state.contact_profile">
                                <div class="detail-section" *ngFor="let group of groups.section;let i=index;">
                                    <div class="view-mode" *ngIf="!group.edit">
                                        <ng-container *ngFor="let field of group.list">

                                            <div class="view-section">
                                                <label class="label" *ngIf="field.name!='clone_permissions'">{{field.label}}</label>
                                                <div class="value text-ellipsis" *ngIf="field.type!='select' && field.name!='clone_permissions'">
                                                    {{ivieForm?.controls[field.name]?.value}}</div>
                                                <div class="value text-ellipsis" *ngIf="field.type=='select' && field.name!='clone_permissions'">{{getSelectionData(field.options,
                                                    ivieForm?.controls[field.name].value)?.name}}
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="view-section-multi" *ngIf="i==0">
                                            <div class="view-section-left">
                                                <ng-container *ngFor="let field of groups.emails">
                                                    <div class="view-section">
                                                        <label class="label">{{field.type}}</label>
                                                        <div class="value text-ellipsis">{{field.email}}</div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="view-section-right">
                                                <ng-container *ngFor="let field of groups.phone_numbers">
                                                    <div class="view-section">
                                                        <label class="label">{{field.type}}</label>
                                                        <div class="value text-ellipsis">{{field.phone}}</div>
                                                    </div>

                                                </ng-container>
                                            </div>
                                            <div class="view-section-multi" *ngIf="i==0">
                                                <div class="view-section-left">
                                                    <ng-container *ngFor="let field of groups.emails">
                                                        <div class="view-section">
                                                            <!-- <label class="label">{{field.type}}</label> -->
                                                            <!-- <div class="value text-ellipsis">{{field.email}}</div> -->
                                                        </div>
                                                    </ng-container>
                                                </div>
                                                <!-- <div class="view-section-right">
                                                    <ng-container *ngFor="let field of groups.phone_numbers">
                                                        <div class="view-section">
                                                            <label class="label">{{field.type}}</label>
                                                            <div class="value text-ellipsis">{{field.phone}}</div>
                                                        </div>
                                                    </ng-container>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="edit-section" *ngIf="group.edit">

                                        <ng-container *ngFor="let field of group.list">
                                            <pi-form-field [label]="field.label" *ngIf="field.type=='currency'" class="max-w">
                                                <div class="value" *ngIf="field.type=='readonly'">{{field.value}}</div>
                                                <input type="text" pi-input [appPriceFormat]="currencyConfig" [name]="field.name" formControlName="{{field.name}}">
                                            </pi-form-field>

                                            <pi-form-field [label]="field.label" *ngIf="field.type=='number'" class="max-w">
                                                <div class="value" *ngIf="field.type=='readonly'">{{field.value}}</div>
                                                <input type="text" pi-input (input)="removeDuplicateError()" [name]="field.name" formControlName="{{field.name}}">
                                            </pi-form-field>

                                            <pi-form-field [label]="field.label" *ngIf="field.type=='text' || field.type=='email'" class="max-w">
                                                <div class="value" *ngIf="field.type=='readonly'">{{field.value}}</div>
                                                <input type="text" pi-input (input)="removeDuplicateError()" [name]="field.name" formControlName="{{field.name}}">
                                                <span *ngIf="field.suggestion">{{field.suggestion}}</span>
                                                <input type="text" pi-input *ngIf="field.type=='currency'" [name]="field.name" formControlName="{{field.name}}">
                                                <div class="actions" *ngIf="field.addMore">
                                                    <button pi-icon-button (click)="addBookKeeper()" color="subtle" class="array-button plus">
                                                        <i class="pixel-icons icon-plus"></i>
                                                    </button>
                                                </div>
                                            </pi-form-field>
                                            <ng-container *ngIf="(field.type=='select' && field.name!='clone_permissions')">
                                                <pi-select class="max-w" [label]="field.label" nameKey="name" [options]="state[field.options]" formControlName="{{field.name}}">
                                                </pi-select>
                                            </ng-container>
                                            <ng-container *ngIf="(field.type=='select' && field.name=='clone_permissions')" >
                                                <pi-select class="max-w" [label]="field.label" nameKey="label" (onChange)="changeClonePermissions()" [options]="state[field.options]" formControlName="{{field.name}}">
                                                </pi-select>
                                            </ng-container>
                                            <div class="chk-radio" *ngIf="(field.type=='select' && field.name=='clone_permissions')">
                                                <pi-form-field label="Client Access">
                                                    <input type="checkbox" pi-input [disabled]="cloneEnabled" formControlName="client_access" />
                                                </pi-form-field>
                                            </div>
                                            <div class="pi-error" *ngIf="ivieForm.controls[field.name].hasError('required') && submitted">
                                                Please Enter {{field.label}}</div>
                                            <div class="pi-error" *ngIf="field.type=='email' && duplicateError">
                                                {{duplicateErrorMsg}}</div>
                                            <div class="pi-error" *ngIf="!ivieForm.controls[field.name].hasError('required') && submitted && ivieForm.controls[field.name].hasError('pattern')">
                                                Please Enter Valid Email</div>
                                        </ng-container>

                                        <div class="container-group custom-select-group" *ngIf="i==0">
                                            <div formArrayName="emails">
                                                <div *ngFor="let list of mailListArray.controls;let i = index" [formGroupName]="i" class="inline-space-bw">
                                                    <pi-select label="Email" class="p-t-0 email m-t-0" [options]="emailAddressTypes" formControlName="type"></pi-select>
                                                    <pi-form-field label="Enter Email" class="p-t-0 email cust-p m-l-16 m-t-0">
                                                        <input type="text" pi-input (input)="emailValidation(list)" formControlName="email">
                                                        <div class="pi-error" *ngIf="list.value.invalid">Please Enter
                                                            Valid Email
                                                        </div>
                                                    </pi-form-field>
                                                    <div _ngcontent-c32="" class="d-flex align-items-center h-38 m-l-15">
                                                        <button pi-icon-button class="array-button icon-button-wrapper">
                                                            <i class="pixel-icons icon-minus" (click)="removeMail(i)"></i>
                                                        </button>
                                                        <button pi-icon-button class="array-button m-l-6 icon-button-wrapper  ">
                                                            <i class="pixel-icons icon-plus" (click)="addMail()"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-group custom-select-group" *ngIf="i==0">
                                                <div formArrayName="phone_numbers">
                                                    <div *ngFor="let list of numberListArray.controls;let i = index" [formGroupName]="i" class="inline-space-bw">
                                                        <pi-select label="Phone" class="p-t-0 phone" [options]="phoneNumberTypes" formControlName="type"></pi-select>
                                                        <pi-form-field label="Enter Number" class=" p-t-0 phone  m-l-16">
                                                            <input type="text" pi-input type="text" [appPriceFormat]="phoneNumberConfig" min="0" maxlength="10" (input)="phoneNumberValidation($event, list)"
                                                                formControlName="phone">
                                                            <div class="pi-error" *ngIf="list.value.invalid">Please Enter
                                                                Valid Number
                                                            </div>
                                                        </pi-form-field>
                                                        <div _ngcontent-c32="" class="d-flex align-items-center h-38 m-l-15">
                                                            <button pi-icon-button class="array-button icon-button-wrapper">
                                                                <i class="pixel-icons icon-minus" (click)="removeNumber(i)"></i>
                                                            </button>

                                                            <button pi-icon-button class="array-button m-l-6 icon-button-wrapper">
                                                                <i class="pixel-icons icon-plus" (click)="addNumber()"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <div class="actions" *ngIf="groups.is_editable && !group.edit">
                                        <i class="pixel-icons icon-pencil" (click)="editSection(group)"></i>
                                    </div>

                                    <div class="actions multiple" *ngIf="groups.is_editable && group.edit">
                                        <button pi-button class="cancel" (click)="cancelChanges(group)">Cancel</button>
                                        <button pi-button color="primary" (click)="save(ivieForm,group)" [disabled]="ivieForm.pristine">Save</button>
                                    </div>
                                </div>
                            </ng-container>
                        </form>


                        <div class="detail-section">
                            <header>Company Code this User Can Access</header>
                            <div class="view-mode" *ngIf="!state.companyCodeUserEdit">
                                <div class="box" *ngFor="let parent of state.companyCodeUserAccess">
                                    <div class="parent" *ngIf="parent.selected">
                                        <i class="pixel-icons icon-select"></i>
                                        <i class="pixel-icons icon-company-codes"></i>
                                        {{parent.name}}
                                    </div>
                                    <ng-container *ngFor="let list of parent.children">
                                        <div class="child" *ngIf="list.selected">
                                            <i class="pixel-icons icon-select"></i>
                                            {{list.name}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="edit-section" *ngIf="state.companyCodeUserEdit">
                                <div class="box" *ngFor="let parent of state.companyCodeUserAccess">
                                    <!-- <mat-checkbox disableRipple="true" color="primary" [(ngModel)]="parent.selected" (change)="selectAllCompanyCodes(state.companyCodeUserAccess,parent.selected)">{{parent.name}}</mat-checkbox> -->

                                    <pi-form-field label="{{parent.name}}">
                                        <input type="checkbox" pi-input [(ngModel)]="parent.selected" (change)="selectAllCompanyCodes(state.companyCodeUserAccess,parent.selected)"
                                        />
                                    </pi-form-field>

                                    <div class="children" *ngIf="parent.children && parent.children.length">
                                        <!-- <mat-checkbox *ngFor="let list of parent.children" [disabled]="list.disabled" [(ngModel)]="list.selected" disableRipple="true" color="primary" (change)="listChange(list, parent)">{{list.name}}</mat-checkbox> -->
                                        <div *ngFor="let list of parent.children">
                                            <pi-form-field label="{{list.name}}" *ngIf="list.status">
                                                <input type="checkbox" pi-input [(ngModel)]="list.selected" [disabled]="list.disabled" (change)="listChange(list, parent)"
                                                />
                                            </pi-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="actions" *ngIf="!state.companyCodeUserEdit">
                                <i class="pixel-icons icon-pencil" (click)="editCompanyCodeUsers()"></i>
                            </div>

                            <div class="actions multiple" *ngIf="state.companyCodeUserEdit">
                                <button pi-button class="cancel" (click)="cancelCompanyCodeUsers()">Cancel</button>
                                <button pi-button color="primary" (click)="saveCompanyCodeUsers()">Save</button>
                            </div>
                        </div>
                    </ng-container>


                    </div>
            </section>
            </div>

            <div class="no-result-flex" *ngIf="!state.leftNavList.length && !state.detailsLoader && 
        state.search.value!=''">
                <p>No Ivie User found for your search string
                    <b>'{{state.search.value}}'</b>
                </p>
            </div>

    </pi-detail-view>
</pi-master-detail-view>