
<div class="timeline-item">
  <!-- <div class="animated-background">
    <div class="background-masker header-top"></div>
    <div class="background-masker header-left"></div>
    <div class="background-masker subheader-left"></div>
    <div class="background-masker subheader-bottom"></div>
    <div class="background-masker content-top"></div>
  </div> -->
  <div class="animated-background-wrapper">
    <div class="animated-background left"></div>
    <div class="animated-background right"></div>
  </div>
  <div class="animated-background bottom"></div>
  <div class="placeload">
    <div class="header">
      <div class="img loads"></div>
      <div class="header-content">
        <div class="content-shape loads"></div>
      </div>
    </div>
    <div class="header">
      <div class="img loads"></div>
      <div class="header-content">
        <div class="content-shape loads"></div>
      </div>
    </div>
    <div class="header">
      <div class="img loads"></div>
      <div class="header-content">
        <div class="content-shape loads"></div>
      </div>
    </div>
    <div class="header">
      <div class="img loads"></div>
      <div class="header-content">
        <div class="content-shape loads"></div>
      </div>
    </div>
    <div class="header">
      <div class="img loads"></div>
      <div class="header-content">
        <div class="content-shape loads"></div>
      </div>
    </div>
  </div>
  <!-- <div class="animated-second-background">
        <div class="second-background-masker f-line"></div>
        <div class="second-background-masker f-line-right"></div>
        <div class="second-background-masker s-line"></div>
        <div class="second-background-masker s-line-right"></div>
        <div class="second-background-masker t-line"></div>
        <div class="second-background-masker t-line-right"></div>
        <div class="second-background-masker fourth-line"></div>
        <div class="second-background-masker fourth-line-right"></div>
        <div class="second-background-masker fifth-line"></div>
        <div class="second-background-masker fifth-line-right"></div>
        <div class="second-background-masker sixth-line"></div>
        <div class="second-background-masker sixth-line-right"></div>
        <div class="second-background-masker seventh-line"></div>
        <div class="second-background-masker seventh-line-right"></div>
    </div>
  <div class="animated-background user-icon">
    <div class="background-masker h-t-top"></div>
    <div class="background-masker h-t-left"></div>
    <div class="background-masker h-t-right-transparent"></div>
    <div class="background-masker h-c-top"></div>
    <div class="background-masker h-c-right-transparent"></div>
    <div class="background-masker h-c-bottom"></div>
  </div>
  <div class="animated-background user-icon">
    <div class="background-masker h-t-top"></div>
    <div class="background-masker h-t-left"></div>
    <div class="background-masker h-t-right-transparent"></div>
    <div class="background-masker h-c-top"></div>
    <div class="background-masker h-c-right-transparent"></div>
    <div class="background-masker h-c-bottom"></div>
  </div>
  <div class="animated-background user-icon">
    <div class="background-masker h-t-top"></div>
    <div class="background-masker h-t-left"></div>
    <div class="background-masker h-t-right-transparent"></div>
    <div class="background-masker h-c-top"></div>
    <div class="background-masker h-c-right-transparent"></div>
    <div class="background-masker h-c-bottom"></div>
  </div>
  <div class="animated-background user-icon">
      <div class="background-masker h-t-top"></div>
      <div class="background-masker h-t-left"></div>
      <div class="background-masker h-t-right-transparent"></div>
      <div class="background-masker h-c-top"></div>
      <div class="background-masker h-c-right-transparent"></div>
      <div class="background-masker h-c-bottom"></div>
    </div>
    <div class="animated-background user-icon">
        <div class="background-masker h-t-top"></div>
        <div class="background-masker h-t-left"></div>
        <div class="background-masker h-t-right-transparent"></div>
        <div class="background-masker h-c-top"></div>
        <div class="background-masker h-c-right-transparent"></div>
        <div class="background-masker h-c-bottom"></div>
      </div>
      <div class="animated-background user-icon">
          <div class="background-masker h-t-top"></div>
          <div class="background-masker h-t-left"></div>
          <div class="background-masker h-t-right-transparent"></div>
          <div class="background-masker h-c-top"></div>
          <div class="background-masker h-c-right-transparent"></div>
          <div class="background-masker h-c-bottom"></div>
        </div>
        <div class="animated-background user-icon">
            <div class="background-masker h-t-top"></div>
            <div class="background-masker h-t-left"></div>
            <div class="background-masker h-t-right-transparent"></div>
            <div class="background-masker h-c-top"></div>
            <div class="background-masker h-c-right-transparent"></div>
            <div class="background-masker h-c-bottom"></div>
          </div> -->
</div>