/**Light **/
@font-face {
  font-family: "SF-Pro-Text-Light";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Light.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Light.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Light.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Light.svg") format("svg");
}

/** Regular **/
@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Regular.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Regular.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Regular.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Regular.svg") format("svg");
}

/* Medium */
@font-face {
  font-family: "SF-Pro-Text-Medium";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Medium.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Medium.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Medium.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Medium.svg") format("svg");
}

/** Semibold **/
@font-face {
  font-family: "SF-Pro-Text-Semibold";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Semibold.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Semibold.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Semibold.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Semibold.svg") format("svg");
}

/** Bold **/
@font-face {
  font-family: "SF-Pro-Text-Bold";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Bold.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Bold.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Bold.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Bold.svg") format("svg");
}

/** Heavy Bold **/
@font-face {
  font-family: "SF-Pro-Text-Heavy";
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Heavy.eot");
  src: url("theme/fonts/sf-pro/SF-Pro-Text-Heavy.woff") format("woff"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Heavy.ttf") format("truetype"),
    url("theme/fonts/sf-pro/SF-Pro-Text-Heavy.svg") format("svg");
}

// =======================================  NEW FONTS =================================  //

/* SF-Pro-Text-Bold */
@font-face {
  font-family: "SFProText-Bold";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Bold.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Bold.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Bold.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-BoldItalic */
@font-face {
  font-family: "SFProText-BoldItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-BoldItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-BoldItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-BoldItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-Heavy */
@font-face {
  font-family: "SFProText-Heavy";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Heavy.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Heavy.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Heavy.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-HeavyItalic */
@font-face {
  font-family: "SFProText-HeavyItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-HeavyItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-HeavyItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-HeavyItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-HeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-Light */
@font-face {
  font-family: "SFProText-Light";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Light.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Light.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Light.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-LightItalic */
@font-face {
  font-family: "SFProText-LightItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-LightItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-LightItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-LightItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-LightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-Medium */
@font-face {
  font-family: "SFProText-Medium";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Medium.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Medium.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Medium.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-MediumItalic */
@font-face {
  font-family: "SFProText-MediumItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-MediumItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-MediumItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-MediumItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-MediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-Regular */
@font-face {
  font-family: "SFProText-Regular";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Regular.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Regular.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Regular.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-RegularItalic */
@font-face {
  font-family: "SFProText-RegularItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-RegularItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-RegularItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-RegularItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-RegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-Semibold */
@font-face {
  font-family: "SFProText-Semibold";
  src: url("theme/fonts/sf-font/SF-Pro-Text-Semibold.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-Semibold.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-Semibold.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* SF-Pro-Text-SemiboldItalic */
@font-face {
  font-family: "SFProText-SemiboldItalic";
  src: url("theme/fonts/sf-font/SF-Pro-Text-SemiboldItalic.eot");
  src: url("theme/fonts/sf-font/SF-Pro-Text-SemiboldItalic.eot?#iefix")format("embedded-opentype"),
  url("theme/fonts/sf-font/SF-Pro-Text-SemiboldItalic.woff") format("woff"),
  url("theme/fonts/sf-font/SF-Pro-Text-SemiboldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.icon-calendar:before {
  content: "\73";
}