<pi-master-detail-view [showDetail]="showDetail" class="primary-layout">
  <pi-master-view class="component-menu">
    <header class="header-row">
        <span>Super Admin</span>
    </header>

    <div class="menu-container">
      <mat-list>
        <mat-list-item *ngFor="let list of adminList; let i =index" (click)="onSelectItem(list)"
          [routerLink]="'/super-admin/' + list.key" routerLinkActive='active'>
          <span class="lists-item " [title]="list.name">{{list.name}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </pi-master-view> 
  <pi-detail-view>
    <router-outlet></router-outlet>
    <!-- <div class="right-section">
      <header class="head-section">
        <div class="w-100 d-flex flex-column justify-content-between">
          <div class="w-100 d-flex align-items-center justify-content-between ">
            <aside class="left-header d-flex flex-width">
              <h1> {{selectedListItem?.name}}</h1>
            </aside>
          </div>
        </div>
      </header>
      <div class="right-content" *ngIf="showTable">
        <div class="global-grid no-actions-grid with-out-margin ag-no-striped ag-full-width-grid">
          <ag-grid-angular class="ag-theme-balham" style="height: calc(100vh - 74px);" [gridOptions]="gridOptions"
            [rowData]="rowData">
          </ag-grid-angular>
        </div>
      </div>
    </div> -->
  </pi-detail-view>
</pi-master-detail-view>