@import "../../../../../assets/styles/mixins";
.upload-files{
    display: flex;
    flex-direction: column;
    height: 100%;
    .chat-area{
        /*margin-top: 15px;*/
        &.device-files .pi-form-field {
          width: 100%;
          max-width: 100%;
          textarea{
              max-height: 150px;
          }
        }
    }
    .mat-dialog-heading{
        padding-bottom: 6px;
    }
    .upload-info{
        font-size: 14px;
        color: #172B4D;
        letter-spacing: -0.18px;
        line-height: 16px;
        b{
            @include semiBoldFont;
        }
    }
    .mat-dialog-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .file-drop-zone{
            display: flex;
            flex-direction: column;
            height: 116px;
            justify-content: center;
            margin-top: 15px;
            background: #F8FAFC;
            border: 2px dashed #E0E5EC;
            border-radius: 3px;
            min-height: 116px;
            @include medium-font;
            .uploader-input{margin-top: 10px;}
            &.drag-disabled{
                cursor: not-allowed;
                .uploader-input{
                    pointer-events: none;
                    opacity: 0.7;
                    color: #a5adba;
                    text-decoration: none;
                }
            }
        } 
        .error-list {
            overflow: auto;
            max-height: 200px;
            min-height: 68px;
            padding: 10px 0;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    i{
                        width: 14px;
                        height: 14px;
                        font-size: 14px;
                        &.icon-close-slim{
                            color: #f00;
                        }
                    }
                }
            }
        }
        .upload-list{
            overflow-y: auto;
            overflow-x: hidden;
            margin-top: 10px;
            .icon-selected{
                display: none;
            }
            .selected{
                .icon-selected{
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    .icon-tick{
                        font-size: 12px;
                        color: #FFFFFF;
                        border-radius: 50%;
                        border: 1px solid #2e53cc;
                        background: #2e53cc;
                        padding: 2px;
                        font-weight: bold;
                        &:before{
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -5px;
                padding: 0;
                list-style: none;
                li{
                    position: relative;
                    width: calc(20% - 10px);
                    height: 100px;
                    border: 2px solid #dfe1e6;
                    border-radius: 5px;
                    margin: 5px;
                    &.selected{
                        border: 2px solid #2e53cc;
                    }
                    .overlay{
                        display: none;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                    }
                    .overlay-loading{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        padding: 0 20px;
                        height: 100%;
                        i.pixel-icons{    
                            width: 50px;
                            height: 50px;
                            font-size: 50px;
                            opacity: 0.5;
                            padding-top: 15px;
                        }
                        .mat-progress-bar{
                            height: 6px;
                            border-radius: 3px;
                        }
                    }
                    &:hover {
                        .overlay{
                            display: block;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(127, 127, 127, 0.5);
                            .content{
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                padding: 10px;
                                color: #fff;
                                .title{    
                                    flex: 1;
                                    word-break: break-word;
                                }
                                .details{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    p{
                                        font-size: 14px;
                                        color: #FFFFFF;
                                        letter-spacing: 0;
                                        margin: 0;
                                        @include medium-font;
                                    }
                                    i.pixel-icons{
                                        font-size: 16px;
                                        width: 16px;
                                        height: 16px;
                                        color: #fff;
                                        margin-right: 4px;
                                        &.icon-delete{
                                            font-size: 18px;
                                            width: 18px;
                                            height: 18px;
                                            color: #fff;
                                        }
                                    
                                }
                                }
                            }
                        }
                    }
                    .image-center{
                        height: 100%;
                        width: 100%;
                        display: block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .type-icons{
                        width: 100%;
                        height: 100%;
                        font-size: 50px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        // margin-top: -6px;
                        &.icon-pdf {
                            color: #e41d24;
                        }
                        &.icon-gif {
                            color: #0087ca;
                        }
                        &.icon-png {
                            color: #ff6f2d;
                        }
                        &.icon.jpeg,
                        &.icon-jpg {
                            color: #00bcc2;
                        }
                        &.icon-doc,
                        &.icon-docx,
                        &.icon-txt,
                        &.icon-xls,
                        &.icon-xlsx {
                            color: #2fac7a;
                        }
                        &.icon-zip {
                            color: #9c27b0;
                        }
                    }
                    .upload-status{
                        position: absolute;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                        top: 10px;
                        span{
                            width: 16px;
                            height: 16px;
                            background: #0352CC;
                            color: #fff;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            i.icon-select{
                                width: 11px;
                                height: 11px;
                                font-size: 11px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .mat-footer{
        padding-top: 15px;
        border-top: 2px solid #E6E6E6;
        margin-top: 15px;
    }
}

.add-files{
    .mat-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:10;
    }
}