@import '../../../theme/contacts';
mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
::ng-deep .secondary-vendor-chip-list{
    width: 100%;
    .mat-form-field-underline{
        display: none;
    }
}
.disable-content{
    color: #a5adba !important;
    cursor: not-allowed !important;
    pointer-events: none;
}