<pi-master-detail-view class="primary-layout " [showDetail]="state.showView">
  
  <pi-master-view class="with-brand-bg" @projectsSubMenu>
      <header>
        <!-- <span class="my-pixel-icon light-violet">
            <i class="pixel-icons icon-pn-projects"></i>
        </span> -->
        <pi-icon name="icon-pn-projects" size="md" background="#8082f7" color="#fff"></pi-icon>
        <div class="info">
            <h4>Projects</h4>
        </div>
      </header>
      <div class="menu-container">
        <ul>
            <ng-container *ngFor="let tab of state.tabsList">                
                <li (click)="changeMasterView()" *ngIf="tab.show" [routerLink]="tab.route" [class.active]="state.activeState.flag == tab.key">
                   <span class="menu-tab-icon-holder"><i class="pixel-icons {{tab.icon}}"></i></span><span class="menu-tab-name"> {{tab.name}}</span>
                </li>            
            </ng-container>
        </ul>
        <section class="internal-links">
            <h4 class="org-heading">RECENT PROJECTS</h4>
            <ul  *ngFor="let recent of state.recentJobs">
                <li routerLink="{{'/projects/'+ recent.id +'/overview'}}"> <span class="menu-tab-icon-holder"><i class="pixel-icons icon-pn-projects"></i></span><span class="menu-tab-name">{{recent.job_no}}</span></li>
            </ul>
            <div *ngIf="!state.recentJobs.length" class="side-empty-screen">
                <div class="side-empty-icon"> <i class="pixel-icons icon-pn-projects"></i> </div>
                <p>No Recent Projects</p>
            </div>
            <!-- <p *ngIf="!state.recentJobs.length" style="color: #fff;margin: 5px 12px;"></p> -->
        </section>
        <!-- <section class="org-type-list">
            <h4 class="org-heading">SAVED FILTERS</h4>
            <mat-list class="org-tab-list">
                <mat-list-item><i class="pixel-icons icon-filters"></i>Albertsons</mat-list-item>
                <mat-list-item><i class="pixel-icons icon-filters"></i>Circular</mat-list-item>
                <mat-list-item><i class="pixel-icons icon-filters"></i>My View</mat-list-item>
            </mat-list>
        </section> -->
      </div>
  </pi-master-view>

  <pi-detail-view>
      <router-outlet></router-outlet>
  </pi-detail-view>
  
</pi-master-detail-view>